{% extends "base.html" %}
{% block content %}
<h2>マイナンバー取集進捗状況</h2>
<h3>全体状況</h3>
<div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">全依頼件数数</th>
          <th scope="col">登録済み件数</th>
          <th scope="col">進捗率(%)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>4</td>
          <td>3</td>
          <td>75</td>
        </tr>
      </tbody>
    </table>
</div>

<h3>個別状況</h3>
<div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">業務キー</th>
          <th scope="col">依頼日</th>
          <th scope="col">進捗状況</th>
          <th scope="col">完了日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>xxx0001</td>
          <td>2023/4/1</td>
          <td>登録済み</td>
          <td>2023/4/10</td>
        </tr>
        <tr>
          <td>2</td>
          <td>xxx0002</td>
          <td>2023/4/1</td>
          <td>登録済み</td>
          <td>2023/4/15</td>
        </tr>
        <tr>
          <td>3</td>
          <td>xxx0003</td>
          <td>2024/1/20</td>
          <td>登録済み</td>
          <td>2024/1/25</td>
        </tr>
        <tr>
          <td>4</td>
          <td>xxx0004</td>
          <td>2024/1/20</td>
          <td>収集キット発送完了</td>
          <td></td>
        </tr>
      </tbody>
    </table>
</div>
{% endblock %}
