{% extends "base.html" %}
{% block content %}
        <div class="px-4 py-3 my-2 text-center">
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold">キット発送形態 {{sendForm}}</h1>
            <h1 class="display-6 fw-bold">キット言語の選択 {{language}}</h1>
            <p class="fs-5">
                依頼が完了しました。
            </p>
            <p class="fs-5">
                依頼ファイル名:  {{filename}}
            </p>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">Back home</a>
          </div>
{% endblock %}
