{% extends "base.html" %}
{% block content %}

<div class="px-4 py-3 my-2 text-center">
    <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="display-6 fw-bold text-primary">マイナンバー収集依頼</h1>            
  </div>
  <h1 class="h3 mb-3 fw-normal">ログインしてください</h1>
  <form method="post" action="{{url_for('signinform')}}">
    <div class="form-floating">
      <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com" wfd-id="id0">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" wfd-id="id1">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
  </form>

  {% endblock %}
